# Node / React
node_modules/
dist/
build/

# Java / Maven
target/
.mvn/timing.properties

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

# OS files
Thumbs.db

# Environment files
.env
.env.*
!.env.example
!**/.env.example

# Database local files
*.sqlite
*.db

# Temporary files
*.tmp
*.swp
